<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "MeuMedico.com", home_index_path, {:class => "navbar-brand"} =%>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li <% if active_button == "home" %>class="active"<%end%>>
          <%= link_to "<span class='glyphicon glyphicon-home' aria-hidden='true'></span> Página Inicial".html_safe , home_index_path %>
        </li>
        <li <% if active_button == "about" %>class="active"<%end%>>
          <%= link_to "<span class='glyphicon glyphicon-envelope' aria-hidden='true'></span> Entrar em Contato".html_safe, about_index_path %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <p class="navbar-text">
            <strong>
              Olá, <%=current_user.name%>
            </strong>
          </p>
          <!-- Botar if para apenas o usuário? Fazer diferente para o médico? -->
          <% if session[:user_type] == 'user' %>
            <li <% if active_button == "minhas_cons_us" %>class="active"<%end%>>
              <%= link_to "<span class='glyphicon glyphicon-zoom-in' aria-hidden='true'></span> <strong>Minhas Consultas</strong>".html_safe, users_consultas_path %> 
            </li>
            <li <% if active_button == "minhas_presc" %>class="active"<%end%>>
              <%= link_to "<span class='glyphicon glyphicon-list-alt' aria-hidden='true'></span> <strong>Minhas Prescrições</strong>".html_safe, users_prescricoes_path %> 
            </li>
          <% else %>
            <li <% if active_button == "minhas_cons_med" %>class="active"<%end%>>
              <%= link_to "<span class='glyphicon glyphicon-list-alt' aria-hidden='true'></span> <strong>Minhas Consultas</strong>".html_safe, doctors_consultas_path %>
            </li>
          <% end %>
          <li>
            <%= link_to "<span class='glyphicon glyphicon-log-out' aria-hidden='true'></span> Sair".html_safe, logout_path, method: :delete %>
          </li>
        <% else %>
          <li <% if active_button == "login" %>class="active"<%end%>>
            <%= link_to "<span class='glyphicon glyphicon-arrow-right' aria-hidden='true'></span> <strong>Entrar</strong>".html_safe, login_path %>
          </li>

          <li <% if active_button == "register" %>class="active"<%end%>>
            <%= link_to "<span class='glyphicon glyphicon-pencil' aria-hidden='true'></span> <strong>Cadastrar</strong>".html_safe, users_register_path %>
          </li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<!--
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to 'Página Inicial', home_index_path %>
          </li>
          <li>
            <%= link_to 'Médicos', doctors_results_path %>
          </li>
          <li>
            <%= link_to 'Usuarios', users_showAll_path %>
          </li>
          <li>
            <%= link_to 'Contato', about_index_path %>
          </li>
        </ul>
        <% if logged_in? %>
          <ul class="nav navbar-nav navbar-right">
            <p class="navbar-text">
              Olá, <%=current_user.name%>
            </p>
            <li>
              <a href="#">
                Minha Conta
              </a>
            </li>
            <li>
              <%= link_to 'Log Out', logout_path, method: :delete %>
            </li>
          </ul>
        <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to 'Cadastrar', users_register_path %>
            </li>
            <li>
              <%= link_to 'Log In', login_path %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>
  --->