<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
        </button>
          <%= link_to image_tag("http://erambert.me/assets/img/works/pokecenter-icon.png", :border => 0, :style => "max-width:35px; margin-top: -7px;"), home_index_path, {:class => "navbar-brand"} =%>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to 'Página Inicial', home_index_path %>
          </li>
          <li>
            <%= link_to 'Médicos', doctors_results_path %>
          </li>
          <li>
            <%= link_to 'Usuarios', users_showAll_path %>
          </li>
          <li>
            <%= link_to 'Contato', about_index_path %>
          </li>
        </ul>
        <% if logged_in? %>
          <ul class="nav navbar-nav navbar-right">
            <p class="navbar-text">
              Olá, <%=current_user.name%>
            </p>
            <li>
              <a href="#">
                Minha Conta
              </a>
            </li>
            <li>
              <%= link_to 'Log Out', logout_path, method: :delete %>
            </li>
          </ul>
        <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to 'Cadastrar', users_register_path %>
            </li>
            <li>
              <%= link_to 'Log In', login_path %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>