<%= render partial: "topbar/default", locals: {active_button: "home"} %>

<div style="margin: 0px;
    background-image: url(http://www.calpirg.org/sites/pirg/files/WEB_USN-c3_Health-Care-Slide.jpg);
    background-position: 0% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    margin-top: -20px;
    ">

<div class = "jumbotron" style=" 
background: rgba(255, 255, 255, 0.8);
">
<div class = "container-fluid text-center">
<h1>
  <strong>
    MeuMédico.com
  </strong>
</h1>
</div>
<div class = "container-fluid">

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
        <%= form_for :search_form, :html => {:class => "form-horizontal"}, url: doctors_results_path do |s| %>
	<h4>
		<strong>
			Procurar pelo nome do Médico:
		</strong>
	</h4>
	<div class="input-group">
		<%= s.text_field :name, class: "form-control input-lg" %>
		<span class="input-group-btn">
			<%= s.submit :'Buscar', { :class=>"btn btn-primary btn-lg" } %>
		</span>
	</div>

          <% end %> 
    </div>

      <%= form_for :search_form, :html => {:class => "form-horizontal"}, url: doctors_results_path do |s| %>
  <div class = "row">
    <div class= "col-md-2 col-md-offset-2">
      <h4><strong>Especialidade</strong></h4>
    </div>

    <div class= "col-md-2">
      <h4><strong>Plano de Saúde</strong></h4>
    </div>

    <div class= "col-md-2">
      <h4><strong>Bairro</strong></h4>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-md-2 col-md-offset-2">
      <%= select_tag(:specialty, options_for_select([['---', ''],['Cardiologia', 'cardiologia'], ['Pediatria', 'Pediatria'], ['Ginecologia', 'Ginecologia']]), { :class=>"form-control input-lg", :style=>"margin-bottom: 30%;"}) %>
    </div>

    <div class="col-md-2">
      <%= select_tag(:healthPlans, options_for_select([['---', ''],['Unimed', 'Unimed'], ['Bradesco', 'Bradesco'], ['Golden Cross', 'Golden Cross'], ['Amil', 'Amil']]), { :class=>"form-control input-lg", :style=>"margin-bottom: 30%;"}) %>
    </div>

    <div class="col-md-2">
      <%= select_tag(:neighborhood, options_for_select([['---', ''],['Barra da Tijuca', 'Barra da Tijuca'], ['Tijuca', 'Tijuca'], ['Leblon', 'Leblon'], ['Madureira', 'Madureira']]), { :class=>"form-control input-lg", :style=>"margin-bottom: 30%;"}) %>
    </div>

    <%= s.submit :'Buscar', { :class=>"btn btn-primary btn-lg" } %>
  </div>

  <% end %> 

  </div>
</div>
</div>
<div class = "container jumbotron" style=" background: rgba(255, 255, 255, 1);">
  <h2><strong>Quem Somos</strong></h2>
  <p>O MeuMédico é uma startup criada no ano de 2015, que fornece serviços de agendamento na área de saúde. Nossos serviços permitem maior aproveitamento dos horários do médico, que por sua vez não necessitará de uma secretária para marcar suas consultas; e facilita a vida do paciente, que passa a ter total acesso à agenda de seu médico.</p>
  <p>O site também permite a pesquisa de médicos, através de campos simples, como Plano de Saúde, Especialidade do Médico e localização. É uma forma de reduzir o tempo que o paciente perderia pesquisando. </p>
  </br>
  <h2><strong>Origem</strong></h2>
  <p>A startup nasceu da participação dos atuais diretores de uma <en>Hackaton</en>, nome dado ao que se chama de maratona de programação, evento no qual os participantes passam dias programando suas ideias non-stop.</p>
</div>