<%= render partial: "topbar/default", locals: {active_button: "none"} %>

<style type="text/css">
	.calendar td { border: 1px solid; padding: 1% 2%;  }
</style>

<div class="container" >
	<div class="row">
		<div class="col-md-5 well" >
			<h2>Detalhes do Médico	</h2>
			<p><span style="font-weight: bold;" >Nome:</span> <%= @doctor.name %></p>
			<p><span style="font-weight: bold;" >Área:</span> <%= @doctor.specialty %></p>
			<p><span style="font-weight: bold;" >Email:</span> <%= @doctor.email %></p>
			<p><span style="font-weight: bold;" >CRM:</span> <%= @doctor.crm %></p>
			<p><span style="font-weight: bold;" >Endereço:</span> <%= @doctor.address %></p>
			<p><span style="font-weight: bold;" >Planos de Saúde:</span> <%= @doctor.healthPlans %></p>
		</div>
	</div>

	<div class="row well">
		<div class="col-md-8 col-md-offset-2 text-center" >
			<h2>Calendário</h2>
			<div class="calendar" >
				<%= month_calendar events: @schedules, next_link: ->(param, date_range) { link_to raw("&raquo;"), { param => date_range.last + 1.day, :doctor => @doctor }  }, previous_link: ->(param, date_range) { link_to raw("&laquo;"), { param => date_range.first - 1.day, :doctor => @doctor }  }  do |date, schedules|  %>
				  <%= date.strftime("%e") %>
				  <% schedules.each do |schedule| %>
				  	<% if schedule.calendarID == @doctor.callendarId && Time.at(schedule.date).strftime("%B %e, %Y") == date.strftime("%B %e, %Y") %>
					    <div style="background-color: red; padding: 0px;" >
					    	<p>Horario marcado</p>
					    </div>
					<% else  %>
						<div style="background-color: green; padding: 0px;" >
					    	<p>Horario disponivel</p>
					    </div>
				    <% end %>
				  <% end %>
				<% end %>
			</div>
		</div>
	</div>

	<!-- <button onclick="goBack()">Voltar</button> !-->

<script>
function goBack() {
    window.history.back()
}
</script>

</div>
