<%= render partial: "topbar/default", locals: {active_button: "none"} %>

<style type="text/css">
	.calendar td { border: 1px solid; padding: 1% 2%;  }
</style>

<div class="container" >
	<div class="row">
		<div class="col-md-6 well" >
			<h2>Detalhes do Médico	</h2>
			<p><span style="font-weight: bold;" >Nome:</span> <%= @doctor.name %></p>
			<p><span style="font-weight: bold;" >Área:</span> <%= @doctor.specialty %></p>
			<p><span style="font-weight: bold;" >Email:</span> <%= @doctor.email %></p>
			<p><span style="font-weight: bold;" >CRM:</span> <%= @doctor.crm %></p>
			<p><span style="font-weight: bold;" >Endereço:</span> <%= @doctor.address %></p>
			<p><span style="font-weight: bold;" >Planos de Saúde:</span> <%= @doctor.healthPlans %></p>
			<p><span style="font-weight: bold;" >Latitude:</span> <%= @doctor.latitude %></p>
			<p><span style="font-weight: bold;" >Longitude:</span> <%= @doctor.longitude %></p>
		</div>
		<div class="col-md-6 well" >
			<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@doctor.latitude}%2C#{@doctor.longitude}" %>
		</div>
	</div>

	<div class="row well">
		<div class="col-md-8 text-center" >
			<h2>Calendário</h2>
			<div class="calendar" >
				<%= month_calendar events: @schedules, next_link: ->(param, date_range) { link_to raw("&raquo;"), { param => date_range.last + 1.day, :doctor => @doctor }  }, previous_link: ->(param, date_range) { link_to raw("&laquo;"), { param => date_range.first - 1.day, :doctor => @doctor }  }  do |date, schedules|  %>
				  	
				  	<%= date.strftime("%e") %>

					<!-- <% if schedules.length > 0 %>
						<% schedules.each do |schedule| %>
							<% if schedule.calendarID == @doctor.calendarID && schedule.date == date %>
								<div style="color: red;" >
									<p>Horarios Indisponíveis</p>
								</div>
							<% else %>
								
							<% end %>
						<% end %>
					<% end %> !-->

					<div style="color: green;" >
						<p>Horários Disponíveis</p>
						<% if logged_in? %>
							<%= link_to "Agendar", doctors_doctorDetails_path(@doctor, :date => date, :start_date => date) %>
						<% end %>
					</div>

				<% end %>
			</div>
		</div>

		<% if @date != '' %>
			<div class="col-md-4 well" >
				<h4>Agendar consulta</h4>
				<p><strong>Data:</strong> <%= Date.parse(@date).strftime("%d/%m/%Y") %></p>
				<table class="table table-striped" >
					<thead>
						<tr>
							<th>Horários Disponíveis</th>
						</tr>
					</thead>
					<tbody>
						<% if @schedules.length > 0 %>
							<% while @hours < 24 %>

								<% @schedules.each do |schedule| %>	
								  	<% if schedule.hour == @hours %>
								  		<span style="display: none;" ><%= @isScheduled = true %></span>
							  		<% end %>
						  		<% end %>

						  		<% if @isScheduled == true %>
						  			<tr style="color: red;" >
						  				<td><%= @hours %>h - Horario marcado</td>
						  			</tr>
						  		<% else %>
						  			<tr style="color: green;" >
								    	<td>
								    		<%= form_for :schedule_form, url: doctors_createSchedule_path(@doctor) do |s| %>
										
											    <%= hidden_field_tag(:date, @date) %>
											    <%= hidden_field_tag(:hour, @hours) %>
											    <%= hidden_field_tag(:calendarID, @doctor.calendarID) %>
											    <%= hidden_field_tag(:userID, current_user.id) %>
												<%= @hours %>h - <%= s.submit :"Agendar", class: "btn btn-primary" %>

											<% end %>
								    	</td>
								    </tr>
						  		<% end %>

						    	<% @hours = @hours + 1 %>
						    	<span style="display:none;"><%= @isScheduled = false %></span>
							<% end %>
						<% else %>
							<% while @hours < 24 %>
								<tr style="color: green;" >
							    	<td>
							    		<%= form_for :schedule_form, url: doctors_createSchedule_path(@doctor) do |s| %>
									
										    <%= hidden_field_tag(:date, @date) %>
										    <%= hidden_field_tag(:hour, @hours) %>
										    <%= hidden_field_tag(:calendarID, @doctor.calendarID) %>
										    <%= hidden_field_tag(:userID, current_user.id) %>
											<%= @hours %>h - <%= s.submit :"Agendar", class: "btn btn-primary" %>

										<% end %>
							    	</td>
							    </tr>
							    <% @hours = @hours + 1 %>
						    <% end %>
						<% end %>
					</tbody>
				</table>
			</div>	
		<% end %>
	</div>
</div>
