<%= render partial: "topbar/default", locals: {active_button: "register"} %>

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 well">
					<h2>
						Cadastro de Médicos:
					</h2>
					<div class="alert alert-success" role="alert">
						<strong>Sucesso!</strong>
						Seu cadastro foi realizado com sucesso!
					</div>
					<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="col-sm-3 control-label">Nome</label>
						<div class="col-sm-9">
							<div class="form-control-static">
								<%= @doctor.name %>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Email</label>
						<div class="col-sm-9">
							<div class="form-control-static">
								<%= @doctor.email %>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Senha</label>
						<div class="col-sm-9">
							<div class="form-control-static">
								**********
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">CRM</label>
						<div class="col-sm-9">
							<div class="form-control-static">
								<%= @doctor.crm %>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Cidade</label>
						<div class="col-sm-9">
							<div class="form-control-static">
								<%= @doctor.city %>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Bairro</label>
						<div class="col-sm-9">
							<div class="form-control-static">
								<%= @doctor.neighborhood %>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Endereço</label>
						<div class="col-sm-9">
							<div class="form-control-static">
								<%= @doctor.address %>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Plano de Saúde</label>
						<div class="col-sm-9">
							<div class="form-control-static">
								<%= @doctor.healthPlans %>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Especialidade:</label>
						<div class="col-sm-9">
							<div class="form-control-static">
								<%= @doctor.specialty %>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-offset-2 col-md-8">
          					<%= link_to "Retornar à Página Inicial", home_index_path, {:class => "btn btn-success btn-lg btn-block"} =%>
						</div>
					</div>
					</form>
		</div>
	</div>
</div>