<%= render partial: "topbar/default", locals: {active_button: "register"} %>

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 jumbotron">
			<h2>
				Cadastro de Médicos:
			</h2>
			<% if @erro == true %>
				<div class="alert alert-danger" role="alert">
					<strong>Erro!</strong>
					Já existe um usuário com este e-mail registrado.
				</div>
			<% end %>

			<% if @validate[:name] == 1 %>
				<div class="row">
					<div class = "col-md-12">
						<div class="alert alert-danger" role="alert">
							Você esqueceu de colocar o <strong>nome</strong>!
						</div>
					</div>
				</div>
			<% end %>

			<% if @validate[:email] == 1 %>
				<div class="row">
					<div class = "col-md-12">
						<div class="alert alert-danger" role="alert">
							Você esqueceu de colocar o <strong>e-mail</strong>!
						</div>
					</div>
				</div>
			<% end %>

			<% if @validate[:password] == 1 %>
				<div class="row">
					<div class = "col-md-12">
						<div class="alert alert-danger" role="alert">
							Você esqueceu de colocar a <strong>senha</strong>!
						</div>
					</div>
				</div>
			<% end %>

			<% if @validate[:crm] == 1 %>
				<div class="row">
					<div class = "col-md-12">
						<div class="alert alert-danger" role="alert">
							Você esqueceu de colocar o <strong>CRM</strong>!
						</div>
					</div>
				</div>
			<% end %>

			<% if @validate[:city] == 1 %>
				<div class="row">
					<div class = "col-md-12">
						<div class="alert alert-danger" role="alert">
							Você esqueceu de colocar a <strong>cidade</strong>!
						</div>
					</div>
				</div>
			<% end %>

			<% if @validate[:neighborhood] == 1 %>
				<div class="row">
					<div class = "col-md-12">
						<div class="alert alert-danger" role="alert">
							Você esqueceu de colocar o <strong>bairro</strong>!
						</div>
					</div>
				</div>
			<% end %>

			<% if @validate[:address] == 1 %>
				<div class="row">
					<div class = "col-md-12">
						<div class="alert alert-danger" role="alert">
							Você esqueceu de colocar o <strong>endereco</strong>!
						</div>
					</div>
				</div>
			<% end %>

			<% if @validate[:healthPlans] == 1 %>
				<div class="row">
					<div class = "col-md-12">
						<div class="alert alert-danger" role="alert">
							Você esqueceu de colocar o <strong>plano de saude</strong>!
						</div>
					</div>
				</div>
			<% end %>

			<% if @validate[:specialty] == 1 %>
				<div class="row">
					<div class = "col-md-12">
						<div class="alert alert-danger" role="alert">
							Você esqueceu de colocar a <strong>especialidade</strong>!
						</div>
					</div>
				</div>
			<% end %>

			<%= form_for :doctor_form, :html => {:class => "form-horizontal"}, url: doctors_new_path do |u| %>
				<div class="form-group <% if @validate[:name] == 1 %>has-error<%end%>">
					<%= u.label :name, "Nome", class: "col-md-3 control-label" %>
			        <div class="col-md-9">
			          <%= u.text_field :name, class: "form-control", placeholder: "Nome", value: @doctor.name %>
			        </div>
				</div>
				<div class="form-group <% if @erro == true || @validate[:email] == 1 %>has-error<%end%>">
					<%= u.label :email, "Email", class: "col-md-3 control-label" %>
			        <div class="col-md-6">
			          <%= u.email_field :email, class: "form-control", placeholder: "Email", value: @doctor.email %>
			        </div>
				</div>
				<div class="form-group <% if @validate[:password] == 1 %>has-error<%end%>">
					<%= u.label :password, "Senha", class: "col-md-3 control-label" %>
			        <div class="col-md-6">
			          <%= u.password_field :password, class: "form-control", placeholder: "Senha", value: @doctor.password %>
			        </div>
				</div>
				<div class="form-group <% if @validate[:crm] == 1 %>has-error<%end%>">
					<%= u.label :crm, "CRM", class: "col-md-3 control-label" %>
			        <div class="col-md-6">
			          <%= u.text_field :crm, class: "form-control", placeholder: "CRM", value: @doctor.crm %>
			        </div>
				</div>
				<div class="form-group <% if @validate[:city] == 1 %>has-error<%end%>">
					<%= u.label :city, "Cidade", class: "col-md-3 control-label" %>
			        <div class="col-md-6">
			          <%= u.text_field :city, class: "form-control", placeholder: "Cidade", value: @doctor.city %>
			        </div>
				</div>
				<div class="form-group <% if @validate[:neighborhood] == 1 %>has-error<%end%>">
					<%= u.label :neighborhood, "Bairro", class: "col-md-3 control-label" %>
			        <div class="col-md-6">
			          <%= u.text_field :neighborhood, class: "form-control", placeholder: "Bairro", value: @doctor.neighborhood %>
			        </div>
				</div>
				<div class="form-group <% if @validate[:address] == 1 %>has-error<%end%>">
					<%= u.label :address, "Endereço", class: "col-md-3 control-label" %>
			        <div class="col-md-9">
			          <%= u.text_field :address, class: "form-control", placeholder: "Endereço", value: @doctor.address %>
			        </div>
				</div>
				<div class="form-group <% if @validate[:healthPlans] == 1 %>has-error<%end%>">
					<%= u.label :healthPlans, "Plano de Saúde", class: "col-md-3 control-label" %>
			        <div class="col-md-6">
			          <%= u.text_field :healthPlans, class: "form-control", placeholder: "Plano de Saúde", value: @doctor.healthPlans %>
			        </div>
				</div>
				<div class="form-group <% if @validate[:specialty] == 1 %>has-error<%end%>">
					<%= u.label :specialty, "Especialidade", class: "col-md-3 control-label" %>
			        <div class="col-md-6">
			          <%= u.text_field :specialty, class: "form-control", placeholder: "Especialidade", value: @doctor.specialty %>
			        </div>
				</div>
				<div class="form-group">
				    <div class="col-md-8 col-md-offset-2">
						<%= u.submit :'Cadastrar', class: "btn btn-primary btn-lg btn-block" %>
				    </div>
				</div>
			<% end %>
		</div>
	</div>
</div>

