<%= render "topbar/default" %>

<div class="container" >
	<div class = "container-fluid well">
  <%= form_for :search_form, :html => {:class => "form-horizontal"}, url: doctors_results_path do |s| %>
  <div class = "row">
    <div class= "col-md-2">
      <h4><strong>Especialidade</strong></h4>
      <%= select_tag(:specialty, options_for_select([['---', ''],['Cardiologia', 'cardiologia'], ['Pediatria', 'Pediatria'], ['Ginecologia', 'Ginecologia']]), { :class=>"form-control input-lg", :style=>"margin-bottom: 10%;"}) %>
    </div>

    <div class= "col-md-2">
      <h4><strong>Plano de Saúde</strong></h4>
      <%= select_tag(:healthPlans, options_for_select([['---', ''],['Unimed', 'Unimed'], ['Bradesco', 'Bradesco'], ['Golden Cross', 'Golden Cross'], ['Amil', 'Amil']]), { :class=>"form-control input-lg", :style=>"margin-bottom: 10%;"}) %>
    </div>

    <div class= "col-md-2">
      <h4><strong>Bairro</strong></h4>
      <%= select_tag(:neighborhood, options_for_select([['---', ''],['Barra da Tijuca', 'Barra da Tijuca'], ['Tijuca', 'Tijuca'], ['Leblon', 'Leblon'], ['Madureira', 'Madureira']]), { :class=>"form-control input-lg", :style=>"margin-bottom: 10%;"}) %>
    </div>

    <div class="col-md-2" >
    	<br><br>
    	<%= s.submit :'Buscar', { :class=>"btn btn-primary btn-lg" } %>
	</div>

  <% end %> 

    <div class="col-md-4">
        <%= form_for :search_form, :html => {:class => "form-horizontal"}, url: doctors_results_path do |s| %>
	<h4>
		<strong>
			Procurar pelo Nome:
		</strong>
	</h4>
	<div class="input-group">
		<%= s.text_field :name, class: "form-control input-lg" %>
		<span class="input-group-btn">
			<%= s.submit :'Buscar', { :class=>"btn btn-primary btn-lg" } %>
		</span>
	</div>

          <% end %> 
    </div>
  </div>
</div>

	
	<h1 style="margin-top: 0;" >Médicos Registrados</h1>

	<% @doctorsResults.each do |doctor| %>
		<div class="col-md-6 well" >

	      <h4>
	      	<span style="font-weight:bold;" >Nome:</span>
	      	<%= doctor.name %>
	      </h4>
	      <p>
	      	<span style="font-weight:bold;" >Email:</span>
	      	<%= doctor.email %>
	      </p>
	      <p>
	      	<span style="font-weight:bold;" >Especialidade:</span>
	      	<%= doctor.specialty %>
	      </p>
	      <p>
	      	<span style="font-weight:bold;" >Localização:</span>
	      	<%= doctor.address %>
	      </p>
	      <%= link_to 'Ver Mais', doctors_doctorDetails_path(doctor), { :class=>"btn btn-primary"} %>
		</div>
	<% end %>

	<!-- <%= link_to 'Voltar', home_index_path, { :class=>"btn btn-danger"} %> !-->

</div>
