<%= render "topbar/default" %>

<div class="container" >
	<h1>Médicos Registrados</h1>
	
	<% @doctorsResults.each do |doctor| %>
		<div class="col-md-5 well" style="margin-right: 8%;" >

	      <h4>
	      	<span style="font-weight:bold;" >Nome:</span>
	      	<%= doctor.name %>
	      </h4>
	      <p>
	      	<span style="font-weight:bold;" >Email:</span>
	      	<%= doctor.email %>
	      </p>
	      <p>
	      	<span style="font-weight:bold;" >Especialidade:</span>
	      	<%= doctor.specialty %>
	      </p>
	      <p>
	      	<span style="font-weight:bold;" >Localização:</span>
	      	<%= doctor.address %>
	      </p>
	      <%= link_to 'Ver Mais', doctors_doctorDetails_path(doctor), { :class=>"btn btn-primary"} %>
		</div>
	<% end %>

	<!-- <%= link_to 'Voltar', home_index_path, { :class=>"btn btn-danger"} %> !-->

</div>
